 @import url('https://fonts.googleapis.com/css2?family=Allura&family=Poppins:wght@700&display=swap');


 * {
     margin: 0%;
     padding: 0%;
     box-sizing: border-box;
 }

 body {
     font-family: sans-serif;
     cursor: url('./assests/');
 }

 a {
     text-decoration: none;
 }

 header {
     margin: 0% 13% 0% 9%;
     margin-top: 39px;

     nav {
         display: flex;
         justify-content: space-between;

         span {
             display: flex;

             .logo {
                 display: flex;
                 align-items: center;

                 .logo-2 {
                     position: absolute;
                     margin-left: 3.5px;
                 }
             }

             h3 {
                 font-size: 40px;
                 font-weight: 700;
             }
         }

         .login {
             display: flex;
             align-items: center;
             max-width: auto;

             .sign-in {
                 font-size: 16px;
                 font-weight: 400;
                 color: black;
                 margin-right: 26px;

             }

             .sign-up {
                 color: #F14E23;
                 border: 2px solid #F14E23;
                 border-radius: 50px;
                 font-size: 18px;
                 font-weight: 700;
                 box-sizing: border-box;
                 width: 118px;
                 text-align: center;
                 height: 48px;
                 padding: 20px 39px;
             }
         }
     }
 }

 main {
     .main {
         margin: 0% 6.1% 0% 9%;

         .intro {

             margin-top: 89px;

             .intro-wrapper {
                 .intro-container {

                     div {
                         display: flex;

                         h1 {
                             font-weight: 700;
                             font-size: 180px;
                             color: #1E254D;
                             letter-spacing: -10px;
                             margin-right: 4%;
                             letter-spacing: -0.05em;
                             line-height: 190px;
                         }

                         img {
                             display: flex;
                             align-content: center;
                             width: 220px;
                             height: 140px;
                             border-radius: 100px;
                             border: 2px solid;
                             margin-top: 2.5%;
                         }
                     }

                     span {
                         display: flex;

                         img {
                             width: 142px;
                             height: 142px;
                             border: 2px solid;
                             border-radius: 100px;
                             margin-top: 2.5%;
                         }

                     }

                     p {
                         font-style: italic;
                         font-weight: 400;
                         font-size: 170px;
                         letter-spacing: -10px;
                         margin-left: 2%;
                         word-spacing: 2px;
                         letter-spacing: -0.06em;
                         line-height: 190px;
                         font-family: 'Tangerine';
                         color: #1E254D;
                     }
                 }
             }

             .product {
                 display: flex;

                 .product-drop-wrapper {
                     display: flex;
                     margin-top: 88px;

                     .dash {
                         margin-top: 65px;
                         margin-right: 33px;
                     }

                     .product-drop-container {
                         width: 414px;
                         height: 84px;

                         .product-drop-content-1,
                         .product-drop-content-2 {
                             font-weight: 400;
                             font-size: 28px;
                             line-height: 42px;
                             letter-spacing: -0.02em;
                             color: #1E254D;
                             font-family: 'Dongle', sans-serif;
                         }

                         .product-drop-content-1 {}

                         .product-drop-content-2 {
                             display: flex;
                         }
                     }

                     .btn {
                         display: flex;
                         justify-content: space-between;
                         width: 210px;

                         a {
                             display: flex;
                             align-items: center;
                             text-align: center;
                             justify-content: center;
                             letter-spacing: -0.01em;
                             color: #FFFFFF;
                             font-weight: 700;
                             font-size: 18px;
                             line-height: 32px;
                             background: #F14E23;
                             border-radius: 100px;
                             width: 210px;
                             height: 72px;
                             padding-left: 35px;

                             div {
                                 background: #CA3C17;
                                 border-radius: 100px;
                                 border: #CA3C17;
                                 width: 60px;
                                 height: 60px;
                                 display: flex;
                                 align-items: center;
                                 justify-content: center;
                                 margin-left: 7%;

                                 img {
                                     border: #CA3C17;
                                 }
                             }
                         }

                     }
                 }

                 .product-drop-content-3 {
                     margin-top: 28px;
                     margin-left: 220px;

                     img {
                         position: absolute;
                     }

                     .star-2 {
                         margin: 4%;
                     }
                 }
             }
         }

         .banner {
             margin: 113.8px 0px 0px 0px;
             height: 263.73px;
             width: 100%;

             .banner-container-1 {
                 padding: 0;
                 margin: 0;
                 width: 99.5%;
                 height: 120px;
                 background: #326BFF;
                 position: absolute;
                 left: 0;
                 right: 0;
                 transform: rotate(3.22deg);

                 .banner-content-1 {
                     overflow-x: hidden;
                     width: 99.5%;
                     font-weight: 600;
                     font-size: 36px;
                     line-height: 44px;
                     color: #FFFFFF;
                     height: 120px;
                     padding-top: 30px;
                     border: none;
                 }
             }

             .banner-container-2 {
                 padding: 0;
                 margin: 0;
                 width: 99.5%;
                 height: 120px;
                 background: #759CFF;
                 position: absolute;
                 left: 0;
                 right: 0;
                 transform: rotate(-3.54deg);

                 .banner-content-1 {
                     width: 99.5%;
                     font-weight: 600;
                     font-size: 36px;
                     line-height: 44px;
                     color: #FFFFFF;
                     height: 120px;
                     padding-top: 30px;
                     border: none;
                 }
             }
         }

         .brands {

             .brands-wrapper {
                 .brands-container-1 {
                     display: flex;

                     .brands-content {
                         font-weight: 700;
                         border: 2px solid transparent;
                         font-size: 120px;
                         line-height: 120px;
                         letter-spacing: -0.03em;
                         color: #1E254C;
                         margin-top: 186.5px;
                         display: block;

                         span {
                             font-family: 'Aeonik TRIAL';
                             font-style: italic;
                             font-weight: lighter;
                         }
                     }
                 }
             }

             .brands-container-2 {
                 margin-top: 104px;
                 display: flex;

                 .brands-image-content-1 {
                     width: 856px;
                     height: 632px;
                     background: #C4C4C4;
                     border-radius: 80px;
                 }

                 .brands-image-content-2 {
                     width: 312px;
                     height: 632px;
                     background: #C4C4C4;
                     border-radius: 80px;
                     margin-left: 3.5%;
                 }
             }
         }

         .services {
             margin-top: 165px;

             .service-wrapper {
                 display: flex;

                 .star-img {
                     margin-top: 69px;
                     margin-left: 2.1%;
                 }

                 .service-content {
                     margin-left: 12.9%;
                     margin-right: 12.6%;

                     p {
                         font-weight: 700;
                         font-size: 120px;
                         line-height: 120px;
                         display: block;
                         letter-spacing: -0.03em;
                         color: #1E254C;

                         span {
                             font-family: 'Playfair Display';
                             font-style: normal;
                             font-style: italic;
                             font-weight: lighter;

                         }

                     }
                 }
             }

             .service-image-wrapper {
                 display: flex;
                 margin-top: 148px;

                 .service-image-container {
                     .service-image-content {
                         .number {
                             font-weight: 800;
                             font-size: 56px;
                             line-height: 60px;
                             display: flex;
                             align-items: center;
                             color: #D8D8DE;
                         }

                         h1 {
                             font-weight: 700;
                             font-size: 36px;
                             line-height: 46px;
                             letter-spacing: -0.02em;
                             color: gray;
                             margin-top: 12px;

                             img {
                                 border: 0px solid;
                                 margin-left: 20.1%;
                             }
                         }

                         p {
                             font-weight: 400;
                             font-size: 18px;
                             line-height: 36px;
                             color: gray;
                             margin-top: 16px;
                         }
                     }
                 }

                 .service-image {}
             }
         }


     }

     .process {
         background: #326BFF;
         margin-top: 239px;
         border: 2px solid #326BFF;

         .process-wrapper {
             margin: 0px 120px 0px 120px;

             .process-container {
                 margin-top: 135px;
                 margin-bottom: 82px;

                 h1 {
                     font-weight: 700;
                     font-size: 120px;
                     line-height: 120px;
                     letter-spacing: -0.03em;
                     color: #FFFFFF;
                     // width: 785px;

                     span {
                         font-family: 'Playfair Display';
                         font-style: italic;
                         font-weight: lighter;

                     }

                 }
             }

             .process-procedure {
                 display: flex;
                 margin-bottom: 64px;

                 .process-content {
                     width: 523px;

                     h1 {
                         font-style: normal;
                         font-weight: 700;
                         font-size: 48px;
                         line-height: 64px;
                         letter-spacing: -0.02em;
                         color: #FFFFFF;

                     }

                     p {
                         font-weight: 400;
                         font-size: 18px;
                         line-height: 26px;
                         color: #FFFFFF;
                         margin-top: 12px;
                         width: 523px;
                     }
                 }

                 .process-image {
                     width: 550px;
                     height: 200px;
                     background: #C4C4C4;
                     border-radius: 200px;
                     margin-left: 14%;
                 }
             }

             .process-full {
                 .process-procedure-2 {
                     display: flex;
                     margin-bottom: 64px;

                     .process-content {
                         margin-left: 12.3%;
                         width: 523px;

                         h1 {
                             font-style: normal;
                             font-weight: 700;
                             font-size: 48px;
                             line-height: 64px;
                             letter-spacing: -0.02em;
                             color: #FFFFFF;

                         }

                         p {
                             font-weight: 400;
                             font-size: 18px;
                             line-height: 26px;
                             color: #FFFFFF;
                             margin-top: 12px;
                             width: 523px;
                         }
                     }

                     .process-image {
                         width: 550px;
                         height: 200px;
                         background: #C4C4C4;
                         border-radius: 200px;
                     }
                 }
             }
         }
     }

     .partners {
         margin: 180px 0px;

         .final-star-1 {
             display: flex;
             justify-content: end;
         }

         .partners-wrapper {
             margin: 0% 15%;

             .partners-content-1 {
                 h1 {
                     font-weight: 700;
                     font-size: 120px;
                     line-height: 110px;
                     display: flex;
                     align-items: center;
                     text-align: center;
                     letter-spacing: -0.03em;
                     color: #1E254C;
                     display: block;

                     span {
                         font-family: 'Playfair Display';
                         font-style: italic;
                         font-weight: lighter;
                     }
                 }
             }
         }

         .final-star-2 {
             margin-bottom: 61.19px;

             img {}
         }

         .partners-connections {
             ul {
                 display: flex;
                 justify-content: center;

                 span {
                     display: flex;
                     align-items: center;
                     justify-content: space-evenly;

                     li {
                         margin-left: 30px;
                     }
                 }

                 li {
                     list-style: none;
                 }
             }
         }
     }

     .contact-us {
         background: #C4C4C4;
         border: 2px solid #C4C4C4;

         .contact-wrapper {
             margin-left: 9.2%;

             .contact-content {
                 margin-top: 114px;
                 width: 85.5%;

                 h1 {
                     font-weight: 700;
                     font-size: 120px;
                     line-height: 110px;
                     letter-spacing: -0.03em;
                     color: #FFFFFF;
                     display: block;
                     // width: 691px;

                     span {
                         font-family: 'Playfair Display';
                         font-style: italic;
                         font-weight: lighter;
                     }
                 }
             }

             .btn {
                 display: flex;
                 justify-content: space-between;
                 margin-top: 66px;
                 margin-bottom: 215px;
                 width: 210px;


                 a {
                     display: flex;
                     align-items: center;
                     text-align: center;
                     justify-content: center;
                     letter-spacing: -0.01em;
                     color: #FFFFFF;
                     font-weight: 700;
                     font-size: 18px;
                     line-height: 32px;
                     background: #F14E23;
                     border-radius: 100px;
                     width: 210px;
                     height: 72px;
                     padding-left: 35px;

                     div {
                         background: #CA3C17;
                         border-radius: 100px;
                         border: #CA3C17;
                         width: 60px;
                         height: 60px;
                         display: flex;
                         align-items: center;
                         justify-content: center;
                         margin-left: 7%;

                         img {
                             border: #CA3C17;
                         }
                     }
                 }
             }
         }
     }
 }

 footer {
     margin: 0% 6.1% 0% 0%;

     .footer-wrapper {
         display: flex;
         justify-content: space-between;
         margin: 73px 0px 54px 0px;
         margin-left: 11%;

         .footer-content-1 {

             h1 {
                 font-weight: 400;
                 font-size: 18px;
                 line-height: 21px;
                 text-transform: uppercase;
                 color: #000000;
             }
         }

         .footer-content-2 {
             ul {
                 display: flex;

                 li {
                     list-style: none;
                     font-weight: 400;
                     font-size: 18px;
                     line-height: 22px;
                     color: #000000;
                     margin-left: 20px;
                 }
             }
         }
     }
 }

 @media only screen and (max-width: 1358px) {
     main .main .intro .product .product-drop-content-3 {
         margin-left: 50px;
     }
 }

 @media only screen and (max-width: 1328px) {
     #media-font {
         font-size: 100px;
         line-height: normal;
         letter-spacing: normal;
     }

     #media-img {
         width: max-content;
         height: 80px;
     }

 }

 @media only screen and (max-width: 1328px) {
     #dash {
         display: none;
     }
 }

 @media only screen and (max-width: 1112px) {
     main .process .process-wrapper .process-procedure {
         display: block;
         margin-left: 0;
     }

     main .process .process-wrapper .process-procedure .process-image {
         margin-left: 0;
         margin-top: 40px;
     }

     main .process .process-wrapper .process-full {
         display: block;
     }

     main .process .process-wrapper .process-full .process-procedure-2 {
         display: flex;
         flex-flow: wrap-reverse;
     }

     main .process .process-wrapper .process-full .process-procedure-2 .process-content {
         margin-left: 0;
         margin-top: 0px;
         margin-bottom: 40px;
     }
 }

 @media only screen and (max-width: 1000px) {
     #media-font {
         font-size: 90px;
         line-height: normal;
         letter-spacing: normal;
     }

     #media-img {
         width: max-content;
         height: 68px;
     }

     #dash {
         display: none;
     }

     main .main .intro .product .product-drop-wrapper {
         display: block;
         margin-top: 0px;
     }

     main .main .intro .product .product-drop-wrapper .btn {
         margin-left: 50px;
         margin-top: 20px;
     }

     main .main .banner {
         height: 20.73px;
     }

     main .main .services .service-image-wrapper {
         display: block;
     }

     #media-service-img {
         height: auto;
         width: -webkit-fill-available;
         margin-top: 10%;
     }

     main .partners .partners-connections ul {
         display: flex;
         justify-content: center;
         justify-content: space-evenly;
     }

     .main .main .intro .product .product-drop-content-3 img {
         // display: none;
     }

     main .partners .partners-connections ul span {
        display: block;
         line-height: 4;
     }

     main .process .process-wrapper .process-procedure .process-image {
         width: -webkit-fill-available;
         margin-left: 0%;
     }

     main .process .process-wrapper .process-procedure-2 .process-image {
         width: -webkit-fill-available;
         margin-left: 0%;
     }

     main .process .process-wrapper .process-full .process-procedure-2 .process-image {
         width: -webkit-fill-available;
     }

     main .main .services .service-image-wrapper .service-image-container .service-image-content h1 img {
         margin-left: 2.1%;
     }
     main{
        .partners{
            .partners-connections{
                ul{
                    span{
                        li{
                            img{
                                height: 23px;
                            }
                        }
                    }
                }
            }
        }
        }
        main .main .services .service-image-wrapper {
            display: flex;
            flex-direction: column-reverse;
        }
 }

 #service-image-content:hover {
     margin-left: 42px;
     transition: all 0.7s ease-in-out;

     .number {
         font-weight: 800;
         font-size: 56px;
         line-height: 60px;
         display: flex;
         align-items: center;
         color: #F14E23;
     }

     h1 {
         font-weight: 700;
         font-size: 36px;
         line-height: 46px;
         letter-spacing: -0.02em;
         color: #1E254C;
         margin-top: 12px;

         img {
             border: 0px solid;
             margin-left: 20.1%;
         }
     }

     p {
         font-weight: 400;
         font-size: 18px;
         line-height: 36px;
         color: #1E254C;
         margin-top: 16px;
     }
 }

 @media only screen and (max-width: 818px) {
     #media-font {
         font-size: 50px;
         line-height: normal;
         letter-spacing: normal;
     }

     #media-img {
         width: max-content;
         height: 45px;
     }
 }

 @media only screen and (max-width: 818px) {
     header nav .login .sign-up {
         height: 48px;
         padding: 10px 15px;
     }

     main .contact-us .contact-wrapper .btn {
        margin-bottom: 115px;
    }
    main .partners {
        margin: 80px 0px;
    }
 }

 @media only screen and (max-width: 660px) {
     main .process .process-wrapper {
         margin: 0px 31px 0px 21px;
     }
 }

 @media only screen and (max-width: 578px) {
    main{
        .main{
            margin-left: 30px;
            margin-right: 30px;
        }
    }

     main .main .services .service-wrapper .star-img {
         display: none;
     }

     main .main .services .service-wrapper .service-content {
         margin-left: 0%;
         margin-right: 0%;
     }

     main .process .process-wrapper .process-full .process-procedure-2 .process-content p {
         font-size: 16px;
         margin-top: 0%;
         width: max-content;
     }

     main .process .process-wrapper .process-procedure .process-content p {
         font-size: 16px;
         margin-top: 0%;
         width: max-content;
     }

     main .process .process-wrapper .process-procedure .process-content h1 {
         font-size: 32px;
         width: max-content;
     }

     main .process .process-wrapper .process-full .process-procedure-2 .process-content h1 {
         font-size: 32px;
         width: max-content;
     }

     main .process .process-wrapper .process-procedure .process-content {
         width: max-content;
     }
 }

 @media only screen and (max-width: 516px) {
     footer .footer-wrapper .footer-content-2 ul li {
         font-size: 14px;
     }
 }

 @media only screen and (max-width: 564px) {
     main .partners .partners-connections ul {
         margin-right: 0px;
         width: max-content;
         margin-left: 20%;
     }
 }

 @media only screen and (max-width: 564px) {
     #media-font {
         font-size: 40px;
     }

     #media-img {
         height: 32px;
     }

     main .main .intro .product .product-drop-wrapper .product-drop-container .product-drop-content-1,
     main .main .intro .product .product-drop-wrapper .product-drop-container .product-drop-content-2 {
         font-size: 20px;
         line-height: 28px;
     }

     main .process .process-wrapper .process-procedure .process-content p {
         width: auto;
     }

     main .process .process-wrapper .process-procedure .process-content {
         width: -webkit-fill-available;
     }

     main .process .process-wrapper .process-full .process-procedure-2 .process-content p {
         width: auto;
     }

     main .main .intro .product .product-drop-wrapper .product-drop-container {
         width: max-content;
     }

     footer .footer-wrapper .footer-content-2 ul {
         display: flex;
         flex-wrap: wrap;
     }

     header nav .login .sign-up {
         height: 28px;
         padding: 8px 10px;
         font-size: 13px;
         font-weight: 600;
     }
 }

 @media only screen and (max-width: 564px) {
     header nav {
         display: block;
     }

     header nav span {
         display: flex;
         justify-content: center;
     }

     header nav .login {
         margin-top: 20px;
         justify-content: space-evenly;
     }
 }

 @media only screen and (max-width: 540px) {
     main .main .intro .product .product-drop-wrapper .btn {
         margin-left: 25px;
     }
 }

 #intro {
     display: block;
 }

 @media only screen and (max-width: 726px){
main .main .intro .product .product-drop-content-3 {
    margin-left: 10px;
}
main .main .intro .product .product-drop-content-3 img {
    height: 150px;
    width: 140px;
}
main .main .intro .product .product-drop-content-3 img {
    height: 90px;
    width: 90px;
    margin-top: 50px;
}
main .main .banner .banner-container-2 .banner-content-1 {
    height: 120px;
    padding-top: 20px;
    font-size: 26px;
}
main .main .banner .banner-container-1 .banner-content-1 {
    font-size: 26px;
    height: 120px;
    padding-top: 20px;
}
main .main .banner .banner-container-2 {
    height: 80px;
}
main .main .banner .banner-container-1 {
    height: 80px;
}
}

@media only screen and (max-width: 467px){
main .main .intro .product .product-drop-content-3 img {
    display: none;
}
main .main .brands .brands-container-2 .brands-image-content-1 {
    height: 332px;
}
main .main .brands .brands-container-2 .brands-image-content-2 {
    height: 332px;
}
}

@media only screen and (max-width: 371px){
#media-font {
    font-size: 30px;
}
#media-img {
    height: 23px;
}

main .main .brands .brands-wrapper .brands-container-1 .brands-content {
margin-top: 136.5px;
}
main .main .brands .brands-container-2 .brands-image-content-1 {
    height: 332px;
}
main .main .brands .brands-container-2 .brands-image-content-2 {
    height: 332px;
}
main .main .services {
    margin-top: 105px;
}
main .main .services .service-image-wrapper {
    margin-top: 90px;
}
main .main .services {
    margin-top: 105px;
}
main .main .services .service-image-wrapper .service-image-container .service-image-content .number {
    font-weight: 600;
    font-size: 46px;
}
main .main .services .service-image-wrapper .service-image-container .service-image-content h1 {
    font-size: 30px;
}
main .main .services .service-image-wrapper .service-image-container .service-image-content h1 img {
    height: 20px;
}
main .process {
    margin-top: 40px;
}
main .process .process-wrapper .process-container {
    margin-top: 64px;
    margin-bottom: 48px;
}
main .process .process-wrapper .process-procedure .process-image {
    height: 130px;
}
main .process .process-wrapper .process-full .process-procedure-2 .process-image {
    height: 130px;
}
main .process .process-wrapper .process-full .process-procedure-2 {
    margin-bottom: 32px;
}
main .process .process-wrapper .process-procedure {
    margin-bottom: 32px;
}
main .partners .partners-connections ul span li {
    margin-left: 13px;
}
}


.container{
    width: 100%;
    height: 400px;  
    display: flex;
    margin: auto;
    padding: 10px;
    justify-content: center;
    // box-shadow: 0px 3px 15px;
}
.slide{
    min-width: 10px;
    width: 100px;
    height: 100%;
    justify-content: center;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 50px;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    // box-shadow: 3px 3px 5px black;
    opacity: .5;
}


.active{
    flex-grow: 1;
    transition-duration: 1s;
    opacity: 1;
    padding: 0 10px;
    border-radius: 25px;
    padding-bottom: 10px
}
.nonActive{
    flex-grow: 0;
      opacity: .5;
      transition-duration: 1s;

}
.slide:nth-of-type(1){
   background-color: red;
}
.slide:nth-of-type(2){
    background-color: palevioletred;
}
.slide:nth-of-type(3){
    background-color: aqua;
}
.slide:nth-of-type(4){
    background-color: sandybrown;
}

@media screen and (max-width: 700px) {
    .slide{
        width: 20px;
    }
    .active{
        border-radius: 25px
    }
}

#media-service-img{
   height: 753px;
   width: 768px;
}
@media only screen and (max-width: 1000px){
#media-service-img {
    height: auto;
    width: -webkit-fill-available;
}
}

// height: fit-content;
// width: -webkit-fill-available;

/* Style for the div and image */
  /* Style for the image when the div is active */

  .text-1.hover ~ .service-image img {
    border: 4px solid greenyellow;
  }
  .text-2.hover ~ .service-image img {
    border: 6px solid red;

  }
  .text-3.hover ~ .service-image img{
    border-color: green;
  
  }

//   #media-service-img:hover{
//     transform: rotate(360deg);
//   }

  .text-1.active ~ .image-container img {
    border-color: red;
  }
  .inner2.active ~ .image-container img {
    border-color: blue;
  }
  .inner3.active ~ .image-container img {
    border-color: green;
  }
  /* Rotate the image on hover */
  img:hover {
    transform: rotate(360deg);
  }



  @media only screen and (max-width: 325px){
    main .contact-us .contact-wrapper .btn a {
        height: 62px;
    }
    main .process .process-wrapper .process-full .process-procedure-2 .process-image {
        height: 100px;
    }
    main .process .process-wrapper .process-procedure .process-image {
        height: 100px;
    }
    main .main .banner .banner-container-1 {
        transform: rotate(8deg);
    }
    main .main .banner .banner-container-2 {
        transform: rotate(-8deg);
    }
    main .main .banner .banner-container-2 .banner-content-1 {
        padding-top: 10px;
    }
    main .main .banner .banner-container-2 {
        height: 60px;
    }
    main .main .banner .banner-container-1 {
        height: 60px;
    }
    main .main .banner .banner-container-1 .banner-content-1 {
        padding-top: 10px;
    }
    #media-font {
        font-size: 37px;
    }
    main .main {
        margin-left: 20px;
        margin-right: 20px;
    }
    main .main .intro .product .product-drop-wrapper .btn a {
        height: 62px;
    }
  } 




//   background-image: url('./assests/images/dummy-2.png')